---
layout: default
---
    <div class="row">

    <div class="col-lg-8">

        <div class="card">
            <h1 class="card-title">about me</h1>

            <p> {{ site.author_bio }} </p>
        </div>

        <div class="card">
            <h1 class="card-title"> experiences</h1>

            <br />
            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/img/work/eb.png" class="company-logo" style="padding-left:13px;padding-right:14px"/>
                </div>
                <div class="col-md-6">
                    <h4 class="experience-title"> Extreme Blue</h4>
                    <h6 class="experience-info"> IBM Raleigh (May - August 2019)</h6>
                    <p class="experience-desc"> Working on project related to Kubernetes and IBM Cloud Private </p>
                    <a class="project-link" href="https://www.ibm.com/employment/extremeblue/">ibm.com/employment/extremeblue/</a>
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/img/work/cmu.png" class="company-logo" />
                </div>
                <div class="col-md-6">
                    <h4 class="experience-title"> REUSE</h4>
                    <h6 class="experience-info">REU Program for Software Engineering at Carnegie Mellon University</h6>
                    <p class="experience-desc"> Assisted in building UNAKITE at the Human Computer Interaction Insititute</p>
                    <a class="project-link" href="https://www.cmu.edu/scs/isr/reuse/">cmu.edu/scs/isr/reuse/</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/img/work/oberlin.png" class="company-logo" />
                </div>
                <div class="col-md-6">
                    <h4 class="experience-title"> STRONG</h4>
                    <h6 class="experience-info">Science and Technology Research Opportunities for a New Generation at Oberlin College</h6>
                    <p class="experience-desc"> Experimental research on nanoparticle physics</p>
                    <a class="project-link" href="https://www.oberlin.edu/undergraduate-research/programs/strong">oberlin.edu/undergraduate-research/programs/strong</a>

                </div>
            </div>


        </div>

        <div class="card">
            <h1 class="card-title"> Awards</h1>

            <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="/assets/img/projects/luce.jpg" class="project-img" />
                </div>
                <div class="col-md-5">
                    <h4 class="project-title"> Clare Boothe Luce </h4>
                    <p class="project-desc"> Recipient of annual scholarship which promotes the entry of women into scientific fields where they have been historically
underrepresented</p>
                    <a class="project-link" href="https://www.hluce.org/programs/clare-boothe-luce-program/about/">https://www.hluce.org/programs/clare-boothe-luce-program/about/</a>
                </div>
            </div>

            <br />

        </div>

        <div class="card">
            <h1 class="card-title">Competitions</h1>
            <div class="row">
                <div class="col-md-5">

                      <img src="/assets/img/ds.jpg" style="width:300px;border-radius:15px" />
                  </div>
                  <div class="col-md-5">
                    <h4 class="project-title"> Denison Spring 2019</h4>
                    <p class="project-desc"> Contest Participant</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="/assets/img/pa.png" class="project-img" />
                </div>
                <div class="col-md-5">
                    <h4 class="project-title"> PennApps 2018</h4>
                    <p class="project-desc"> Hackathon Participant</p>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-5">
                    <img src="/assets/img/acm.png" class="project-img" />
                </div>
                <div class="col-md-5">
                    <h4 class="project-title"> ACM ICPC East Central North America</h4>
                    <p class="project-desc"> Contest Participant</p>
                </div>
            </div>

        </div>

    </div>
    <div class="col-lg-4">

        <div class="card">

            <h6>
                <i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
            <h6>
                <i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
            <!-- <h6>
                <i class="fas fa-link"></i> {{ site.author_website_url }} </h6> -->
            <h6 style="white-space:nowrap;">
                <i class="fas fa-link"></i> <span><a href="https://janeon.github.io/R-sum-/resume.pdf">{{ site.author_resume }}</a></span> / <span><a href="https://janeon.github.io/R-sum-/cv.pdf">CV</a></span></h6>

        </div>

        <div class="card">
            <h1> Skills </h1>
            <p> Python , React/AngularJS , C/C++ , Java</p>
            <p> LaTex , HTML , CSS , Git , Linux , Swift </p>
        </div>


        <div class="card">
            <h1> Coding Activity </h1>
            {%- include activity.html -%}
        </div>

        <div class="card">
            <div class="card-header">Categories </div>
            <div class="card-body text-dark">
                {% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <div id="#{{ tag_name | slugize }}"></div>
                <li class="tag-head">
                    <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
                </li>
                <a name="{{ tag_name | slugize }}"></a>
                {% endfor %}
            </div>
        </div>

        <div class="card">
          <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;">
              <a href="//24timezones.com/world_directory/time_in_dallas.php" style="text-decoration: none" class="clock24" id="tz24-1567178880-c170-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMSIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNWQ2OTQwODBhZDMxOSIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="Dallas - Clock" target="_blank" rel="nofollow">
              </a>
            <div id="clock_block_cb5d694080ad319"></div>
          </div>
          <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
        </div>

    </div>
    </div>
