---
layout: default
---
    <div class="row">

    <div class="col-lg-8">

        <div class="card">
            <h3 class="card-title">Hello, thanks for visiting!</h3>
            <p> {{ site.author_bio }} </p>
        </div>

        <div class="card">
            <h3 class="card-title">Coding Activity</h3>
            {%- include activity.html -%}
        </div>


        <!-- <div class="card">
            <h1 class="card-title"> Experiences</h1>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <a href="https://upwork.com/"><img src="/assets/img/work/upwork_logo.png" class="company-logo" /></a>
                </div>
                <div class="col-md-10">
                    <h4 class="experience-title"><a href="https://upwork.com/">Upwork</a></h4>
                    <h6 class="experience-info">Remote, May 2021 - ongoing, supervised by Sibo Lu</h6>
                    <p class="experience-desc"> Data Science Consultant</p>
                </div>
            </div>
            <br />
            
            <div class="row">
                <div class="col-md-2">
                    <a href="https://www.ibm.com/employment/extremeblue">
                    <img src="/assets/img/work/eb.png" class="company-logo" /></a>
                </div>
                <div class="col-md-10">
                    <h4 class="experience-title"> <a href=https://www.ibm.com/employment/extremeblue>Extreme Blue</a></h4> 
                    <h6 class="experience-info"> IBM Raleigh, supervised by <a href=https://twitter.com/rossgrady>Ross Grady</a></h6>
                    <p class="experience-desc"> Developed an <a href="https://janeon.github.io/projects/kubernetes/2019/08/05/ibm-multicloud-incident-response-navigator.html">
                    open-sourced Kubernetes terminal UI</a> for managing multicloud clusters (May - August 2019) <br>
                    Assisted in developing internal self-help portal for <a href="https://slack.com/">Slack</a> and <a href="http://github.com/">Github</a> (June - August 2020) *external to ExtremeBlue</p>
                </div>
            </div>
            <br />


            <div class="row">
                <div class="col-md-2">
                    <a href="https://www.cmu.edu/scs/isr/reuse/"><img src="/assets/img/work/cmu.png" class="company-logo" /></a>
                </div>
                <div class="col-md-10">
                    <h4 class="experience-title"><a href="https://www.cmu.edu/scs/isr/reuse/">REUSE:</a> Research Experiences for Undergraduates in Software Engineering</h4>
                    <h6 class="experience-info">Pittsburgh, May-August 2018, advised by 
                        <a href="https://www.cs.cmu.edu/~bam/">Brad Myers</a> and
                        <a href="https://kittur.org/">Niki Kittur</a></h6>
                    <p class="experience-desc"> Assisted in building and evaluating 
                        <a href="https://janeon.github.io/projects/react%20chrome%20extension/2018/06/16/unakite.html">UNAKITE</a>
                </div>
            </div>
            
            <br />

            <div class="row">
                <div class="col-md-2">
                    <a href="https://www.oberlin.edu">
                        <img src="/assets/img/work/oberlin.png" class="company-logo" />
                    </a>
                    
                </div>
                <div class="col-md-10">
                    <h4 class="experience-title"><a href="https://www.oberlin.edu/undergraduate-research/programs/strong">STRONG:</a> Science and Technology Research Opportunities for a New Generation</h4>
                    <h6 class="experience-info"> <a href="https://www.oberlin.edu">Oberlin College</a>, June-July 2016, advised by <a href="https://www.oberlin.edu/yumi-ijiri">Yumi Ijiri</a></h6>
                    <p class="experience-desc"> Assisted experimental research in nanoparticle separation</p>
                </div>
            </div>


        </div> -->

        <!-- <div class="card">
            <h1 class="card-title"> Awards</h1>

            <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="/assets/img/projects/luce.jpg" class="project-img" />
                </div>
                <div class="col-md-5">
                    <h4 class="project-title"> Clare Boothe Luce </h4>
                    <p class="project-desc"> Recipient of one-year scholarship,
                        which promotes the entry of women into scientific fields where they have been historically underrepresented</p>
                    <a class="project-link" href="https://www.hluce.org/programs/clare-boothe-luce-program/about/">https://www.hluce.org/programs/clare-boothe-luce-program/about/</a>
                </div>
            </div>

            <br />

        </div> -->

        <!-- <div class="card">
            <h1 class="card-title">Competitions</h1>
            <div class="row">
                <div class="col-md-5">

                      <img src="/assets/img/ds.jpg" style="width:300px;border-radius:15px" />
                  </div>
                  <div class="col-md-5">
                    <h4 class="project-title"> Denison Spring 2019</h4>
                    <p class="project-desc"> Contest Participant</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="/assets/img/pa.png" class="project-img" />
                </div>
                <div class="col-md-5">
                    <h4 class="project-title"> PennApps 2018</h4>
                    <p class="project-desc"> Hackathon Participant</p>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-5">
                    <img src="/assets/img/acm.png" class="project-img" />
                </div>
                <div class="col-md-5">
                    <h4 class="project-title"> ACM ICPC East Central North America</h4>
                    <p class="project-desc"> Contest Participant</p>
                </div>
            </div>

        </div> -->

    </div>
    <div class="col-lg-4">

        <div class="card">

            <h6>
                <i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
            <h6>
                <i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
            <!-- <h6>
                <i class="fas fa-link"></i> {{ site.author_website_url }} </h6> -->
            <h6 style="white-space:nowrap;">
                <i class="fas fa-link"></i><span> <a href="https://janeon.github.io/resources/cv.pdf">CV</a></span></h6>

        </div>

        <div class="card">
            <h3> Skills </h3>
            <p> Python, R, React/AngularJS , HTML , CSS,  Git</p>
            <p> LaTex ,  C/C++ , Java, Linux , Swift </p>
            <h4> Hobbies </h4>
            
            <p> <a href="https://www.goodreads.com/user/show/141589623-jane-hsieh">Reading</a>, <a href="https://www.xiachufang.com/cook/121052741/">cooking</a>, <a href="https://www.reimaginedrecycling.com/">recycling</a>, puzzles, furniture-building and violin</p>
        </div>

        <div class="card">
            <div class="cleanslate w24tz-current-time w24tz-middle" style="display: inline-block !important; visibility: hidden !important; min-width:300px !important; min-height:145px !important;"><p><a href="//24timezones.com/Pittsburgh/time" style="text-decoration: none" class="clock24" id="tz24-1649461151-c1418-eyJob3VydHlwZSI6MTIsInNob3dkYXRlIjoiMSIsInNob3dzZWNvbmRzIjoiMSIsImNvbnRhaW5lcl9pZCI6ImNsb2NrX2Jsb2NrX2NiNjI1MGM3OWZiMTIwNiIsInR5cGUiOiJkYiIsImxhbmciOiJlbiJ9" title="Clock - Pittsburgh" target="_blank">Current time in Pittsburgh</a></p><div id="clock_block_cb6250c79fb1206"></div></div>
            <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
        </div>

        <div class="card">
            <div class="card-header">Article Categories </div>
            <div class="card-body text-dark">
                {% for tag in site.categories %} {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <div id="#{{ tag_name | slugize }}"></div>
                <li class="tag-head">
                    <a href="{{ site.baseurl }}/blog/categories/{{ tag_name }}">{{ tag_name }}</a>
                </li>
                <a name="{{ tag_name | slugize }}"></a>
                {% endfor %}
            </div>
        </div>


    </div>
    </div>
